@font-face {
  font-family: "iconfont"; /* Project id 3953671 */
  src: url('iconfont.woff2?t=1683741145837') format('woff2'),
       url('iconfont.woff?t=1683741145837') format('woff'),
       url('iconfont.ttf?t=1683741145837') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enter:before {
  content: "\e776";
}

.icon-setting-line:before {
  content: "\e825";
}

.icon-tool-line:before {
  content: "\e826";
}

.icon-subscribe-line:before {
  content: "\e827";
}

.icon-nft-line:before {
  content: "\e828";
}

.icon-note-line:before {
  content: "\e829";
}

.icon-discover-line:before {
  content: "\e82a";
}

.icon-user-line:before {
  content: "\e833";
}

.icon-brainstorm:before {
  content: "\e83f";
}

.icon-essay:before {
  content: "\e840";
}

.icon-outline:before {
  content: "\e841";
}

.icon-translate:before {
  content: "\e83e";
}

.icon-chat-sel-light:before {
  content: "\e9f1";
}

.icon-me-sel-light:before {
  content: "\e9f2";
}

.icon-find-sel-light:before {
  content: "\e9f3";
}

.icon-heco_testnet:before {
  content: "\e7ca";
}

.icon-screenshot:before {
  content: "\e7cb";
}

.icon-backups:before {
  content: "\e7cc";
}

.icon-identity-filled:before {
  content: "\e7cd";
}

.icon-check:before {
  content: "\e7ce";
}

.icon-success:before {
  content: "\e7cf";
}

.icon-oktest:before {
  content: "\e614";
}

.icon-classzz:before {
  content: "\e615";
}

.icon-copy:before {
  content: "\e7d0";
}

.icon-share:before {
  content: "\e7d1";
}

.icon-transfer_in:before {
  content: "\e7d2";
}

.icon-browser:before {
  content: "\e7d3";
}

.icon-transfer_out:before {
  content: "\e7d4";
}

.icon-identity:before {
  content: "\e616";
}

.icon-bch:before {
  content: "\e6cd";
}

.icon-close_circle:before {
  content: "\e7d5";
}

.icon-web:before {
  content: "\e71f";
}

.icon-browser_home:before {
  content: "\e7d6";
}

.icon-browser_dapp:before {
  content: "\e7d7";
}

.icon-collection:before {
  content: "\e7d8";
}

.icon-yitoken:before {
  content: "\e7d9";
}

.icon-staking:before {
  content: "\e7da";
}

.icon-polkadot:before {
  content: "\e6e8";
}

.icon-kusama-init:before {
  content: "\e6f5";
}

.icon-polkadot-init:before {
  content: "\e6f9";
}

.icon-solana:before {
  content: "\e6fb";
}

.icon-solana-color:before {
  content: "\e7db";
}

.icon-polygon:before {
  content: "\e6fc";
}

.icon-avalanche:before {
  content: "\e6fd";
}

.icon-avalanchec:before {
  content: "\e6fe";
}

.icon-avalanchex:before {
  content: "\e6ff";
}

.icon-polygon-grey:before {
  content: "\e7dc";
}

.icon-fantom:before {
  content: "\e704";
}

.icon-xdai:before {
  content: "\e708";
}

.icon-warning:before {
  content: "\e7de";
}

.icon-evm:before {
  content: "\e710";
}

.icon-chainlist:before {
  content: "\e712";
}

.icon-klaytn-init:before {
  content: "\e713";
}

.icon-evm-grey:before {
  content: "\e7dd";
}

.icon-tron2:before {
  content: "\e716";
}

.icon-tron:before {
  content: "\e71b";
}

.icon-filecoin:before {
  content: "\e718";
}

.icon-dogecoin:before {
  content: "\e719";
}

.icon-litecoin:before {
  content: "\e71a";
}

.icon-hoo:before {
  content: "\e71c";
}

.icon-zksync:before {
  content: "\e71d";
}

.icon-zsc:before {
  content: "\e7df";
}

.icon-hsc:before {
  content: "\e7e0";
}

.icon-hpb2:before {
  content: "\e7e1";
}

.icon-hpb-init:before {
  content: "\e7e2";
}

.icon-arbitrum-init:before {
  content: "\e720";
}

.icon-oec-init:before {
  content: "\e7e3";
}

.icon-ipfs:before {
  content: "\e726";
}

.icon-monero:before {
  content: "\e61c";
}

.icon-steem:before {
  content: "\e641";
}

.icon-wax:before {
  content: "\e642";
}

.icon-DASH:before {
  content: "\e6d6";
}

.icon-zrx-init:before {
  content: "\e722";
}

.icon-cardano:before {
  content: "\e609";
}

.icon-near-init:before {
  content: "\e728";
}

.icon-terra:before {
  content: "\e729";
}

.icon-elrond-init:before {
  content: "\e72a";
}

.icon-iost-init:before {
  content: "\e72b";
}

.icon-bnb:before {
  content: "\e6d9";
}

.icon-eos-init:before {
  content: "\e61b";
}

.icon-theta:before {
  content: "\e72f";
}

.icon-vechain:before {
  content: "\e7e6";
}

.icon-ontology:before {
  content: "\e795";
}

.icon-quantum:before {
  content: "\e797";
}

.icon-stellar:before {
  content: "\e801";
}

.icon-poa:before {
  content: "\e730";
}

.icon-zilliqa:before {
  content: "\e731";
}

.icon-nebulas:before {
  content: "\e75a";
}

.icon-neo:before {
  content: "\e762";
}

.icon-bsc:before {
  content: "\e732";
}

.icon-hpb:before {
  content: "\e72c";
}

.icon-iost:before {
  content: "\e72d";
}

.icon-chainlink:before {
  content: "\e73b";
}

.icon-xmr:before {
  content: "\e804";
}

.icon-zrx:before {
  content: "\e81b";
}

.icon-ripple:before {
  content: "\e807";
}

.icon-kusama:before {
  content: "\e733";
}

.icon-harmony:before {
  content: "\e808";
}

.icon-ethereum-blue:before {
  content: "\e81c";
}

.icon-eos:before {
  content: "\e809";
}

.icon-oec-2:before {
  content: "\e80a";
}

.icon-klaytn:before {
  content: "\e80b";
}

.icon-near:before {
  content: "\e80c";
}

.icon-arbitrum:before {
  content: "\e80d";
}

.icon-elrond:before {
  content: "\e80e";
}

.icon-nervos:before {
  content: "\e80f";
}

.icon-celo-init:before {
  content: "\e735";
}

.icon-flow:before {
  content: "\e736";
}

.icon-thundercore:before {
  content: "\e737";
}

.icon-waves:before {
  content: "\e738";
}

.icon-celo:before {
  content: "\e810";
}

.icon-icon:before {
  content: "\e811";
}

.icon-bluzelle-init:before {
  content: "\e739";
}

.icon-casper:before {
  content: "\e812";
}

.icon-optimism:before {
  content: "\e73c";
}

.icon-arweave:before {
  content: "\e813";
}

.icon-heco:before {
  content: "\e73d";
}

.icon-crust:before {
  content: "\e816";
}

.icon-secret:before {
  content: "\e73e";
}

.icon-edgeware:before {
  content: "\e817";
}

.icon-kulupu:before {
  content: "\e73f";
}

.icon-subgame:before {
  content: "\e740";
}

.icon-flux:before {
  content: "\e741";
}

.icon-viacoin:before {
  content: "\e742";
}

.icon-groestlcoin:before {
  content: "\e743";
}

.icon-wanchain:before {
  content: "\e745";
}

.icon-aion:before {
  content: "\e746";
}

.icon-aeternity:before {
  content: "\e747";
}

.icon-digibyte:before {
  content: "\e748";
}

.icon-vibe:before {
  content: "\e7f9";
}

.icon-statemine:before {
  content: "\e820";
}

.icon-chainx:before {
  content: "\e821";
}

.icon-tomochain:before {
  content: "\e74c";
}

.icon-hive:before {
  content: "\e74d";
}

.icon-immutable-x:before {
  content: "\e74e";
}

.icon-ecology:before {
  content: "\e81a";
}

.icon-gnosis:before {
  content: "\e752";
}

.icon-moonriver-orig:before {
  content: "\e753";
}

.icon-callisto-orig:before {
  content: "\e822";
}

.icon-crypto-org:before {
  content: "\e756";
}

.icon-callisto:before {
  content: "\e757";
}

.icon-watch:before {
  content: "\e69b";
}

.icon-key:before {
  content: "\e692";
}

.icon-json:before {
  content: "\e66c";
}

.icon-word-cloud:before {
  content: "\e7af";
}

.icon-add-circle:before {
  content: "\e758";
}

.icon-add:before {
  content: "\e75b";
}

.icon-note:before {
  content: "\e669";
}

.icon-text:before {
  content: "\e672";
}

.icon-cronos:before {
  content: "\e75c";
}

.icon-oec:before {
  content: "\e75e";
}

.icon-metis:before {
  content: "\e75f";
}

.icon-okx:before {
  content: "\e823";
}

.icon-binance:before {
  content: "\e763";
}

.icon-velas:before {
  content: "\e764";
}

.icon-aurora:before {
  content: "\e765";
}

.icon-kucoin:before {
  content: "\e766";
}

.icon-telos:before {
  content: "\e768";
}

.icon-kcc:before {
  content: "\e824";
}

.icon-iotex:before {
  content: "\e76a";
}

.icon-tezos:before {
  content: "\e76c";
}

.icon-fio:before {
  content: "\e76d";
}

.icon-findora:before {
  content: "\e76e";
}

.icon-record:before {
  content: "\e76f";
}

.icon-etc:before {
  content: "\e770";
}

.icon-account-add:before {
  content: "\e771";
}

.icon-ethereum:before {
  content: "\e774";
}

.icon-badge-star:before {
  content: "\e9ee";
}

.icon-okc:before {
  content: "\e9ef";
}

.icon-nft-text:before {
  content: "\e81d";
}

.icon-nft-fill:before {
  content: "\e81e";
}

.icon-nft:before {
  content: "\e81f";
}

.icon-more-alt:before {
  content: "\e82b";
}

.icon-chat:before {
  content: "\e82c";
}

.icon-send:before {
  content: "\e82d";
}

.icon-subscribe:before {
  content: "\e82e";
}

.icon-back1:before {
  content: "\e82f";
}

.icon-chat_add:before {
  content: "\e830";
}

.icon-mood:before {
  content: "\e831";
}

.icon-novel:before {
  content: "\e832";
}

.icon-intitle:before {
  content: "\e834";
}

.icon-recipe:before {
  content: "\e835";
}

.icon-poem:before {
  content: "\e836";
}

.icon-schedule:before {
  content: "\e837";
}

.icon-find-sel:before {
  content: "\e838";
}

.icon-find-nor:before {
  content: "\e839";
}

.icon-me-sel:before {
  content: "\e83a";
}

.icon-me-nor:before {
  content: "\e83b";
}

.icon-chat-nor:before {
  content: "\e83c";
}

.icon-chat-sel:before {
  content: "\e83d";
}

.icon-addr:before {
  content: "\e7b5";
}

.icon-search:before {
  content: "\e7b6";
}

.icon-arrow_next:before {
  content: "\e7b7";
}

.icon-scan:before {
  content: "\e7b8";
}

.icon-qr_code:before {
  content: "\e7b9";
}

.icon-set:before {
  content: "\e7ba";
}

.icon-add_assets:before {
  content: "\e7bb";
}

.icon-about:before {
  content: "\e7bc";
}

.icon-wallet_me:before {
  content: "\e7bd";
}

.icon-menu:before {
  content: "\e7be";
}

.icon-wallet_nav:before {
  content: "\e7bf";
}

.icon-find_nav:before {
  content: "\e7c0";
}

.icon-me_nav:before {
  content: "\e7c1";
}

.icon-close:before {
  content: "\e7c2";
}

.icon-more:before {
  content: "\e7c3";
}

.icon-back:before {
  content: "\e7c4";
}

.icon-wallet_add:before {
  content: "\e7c5";
}

.icon-wallet_import:before {
  content: "\e7c6";
}

.icon-invite:before {
  content: "\e7c7";
}

.icon-identity-outline:before {
  content: "\e7c8";
}

.icon-binance-logo:before {
  content: "\e605";
}

.icon-cosmos:before {
  content: "\e606";
}

.icon-okexchain:before {
  content: "\e607";
}

.icon-bitcoin:before {
  content: "\e612";
}

.icon-ethereum-init:before {
  content: "\e613";
}

.icon-heco1:before {
  content: "\e7c9";
}

