/**
 * Styles
 */

.page-home {
  position: relative;

  .o-wide {
    max-width: 1200px !important;
  }

  .template-content-wide {
    padding-top: 100px;

    &:first-child {
      padding-top: 0px;
    }

    &:last-child {
      padding-bottom: 100px;
    }
  }

  .featured {
    height: 600px;

    .details {
      padding-left: 60px;

      .title {
        font-size: 60px;
      }

      .user {
        img {
          width: 20px;
          height: 20px;
          border-radius: 10px;
        }
      }

      .card {
        margin-top: 60px;
        padding: 32px;
        background: #fefefe;
        box-shadow: 0 10px 24px rgb(1 0 95 / 10%);
        border-radius: 20px;

        .label {
          font-weight: bold;
        }

        .price {
          font-weight: 500;
          font-size: 36px;
          line-height: 46px;
          margin-top: 12px;
        }
      }

      .q-btn {
        min-height: 56px;
        border-radius: 14px;
      }
    }
  }

  .downloads {
    height: 600px;
    color: #fff;
    background-image: linear-gradient(45deg, #6BD8FC 5%, #5D66F4 100%) !important;

    .o-banner {
      padding: 60px 0;
      background: url("/images/bg_map.png") center no-repeat;
    }

    .slogan {
      text-align: left !important;
      justify-content: start;
    }

    .o-app-download {
      padding: 5rem 0;
    }
  }

  .categories {
    header {
      text-align: center;
      padding-bottom: 32px;

      .title {
        position: relative;
        font-size: 50px;
        font-weight: bold;

        span {
          position: absolute;
          width: 120px;
          height: 35px;
          right: 0px;
          top: 27px;
          background: #413eff;
          opacity: .2;
        }
      }
      .sub-title {
        font-weight: bold;
      }
    }

    .category {
      padding: 48px 32px;
      border-radius: 20px;
      box-shadow: 0 6px 14px rgb(1 0 95 / 10%);
      cursor: pointer;

      .q-avatar {
        width: 100%;
        height: 100%;
        border-radius: 6px 6px 0 0 !important;
      }
    }

    footer {
      margin-top: 10px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .introduction {
    header {
      text-align: center;
      padding-bottom: 32px;

      .title {
        position: relative;
        font-size: 50px;
        font-weight: bold;

        span {
          position: absolute;
          width: 180px;
          height: 35px;
          right: 0px;
          top: 27px;
          background: #413eff;
          opacity: .2;
        }
      }
      .sub-title {
        font-weight: bold;
      }
    }

    .feature {
      padding: 18px;
      border-radius: 10px;
      min-height: 200px;

      footer {
        padding-top: 0px;
      }

      .name {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

.mobile {
  .template-content-wide {
    padding-top: 20px;

    &:first-child {
      padding-top: 0px;
    }

    &:last-child {
      padding-bottom: 20px;
    }
  }

  .downloads {
    .o-banner {
      padding: 0;

      .name, .slogan {
        text-align: center;
        justify-content: center;
      }
    }
  }

  .categories {
    .category {
      padding: 32px 32px;
    }
  }

}
