.first-loading-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.first-loading-wrp > h1 {
  display: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 128px;
  font-weight: 300;
  line-height: 6rem;
  letter-spacing: -0.01562em;
  color: rgba(0, 0, 0, 0.05);
}

.first-loading-wrp .loading-wrp {
  padding: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  animation: antRotate 1.2s infinite linear;
  transform: rotate(45deg);
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}

.dot i {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  background-color: #011213;
  border-radius: 100%;
  transform: scale(.75);
  transform-origin: 50% 50%;
  opacity: .3;
  animation: antSpinMove 1s infinite linear alternate;
}

.dot i:nth-child(1) {
  top: 0;
  left: 0;
}

.dot i:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.dot i:nth-child(3) {
  right: 0;
  bottom: 0;
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.dot i:nth-child(4) {
  bottom: 0;
  left: 0;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes antRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@-webkit-keyframes antRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}

@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes antSpinMove {
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.app-waves {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.app-waves .app-waves-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.app-waves .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.app-waves .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  fill: rgba(86, 186, 255, 0.5);
}

.app-waves .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  fill: rgba(86, 186, 255, 0.3);
}

.app-waves .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  fill: rgba(86, 186, 255, 0.1);
}

.app-waves .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  fill: rgba(86, 186, 255, 0.9);
}

@media screen and (min-width: 1040px) {
  .first-loading-wrp > h1 {
    display: block;
  }
  .app-waves .app-waves-svg {
    height: 160px;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
