/**
 *  Styles
 */

.page-signin {
  position: relative;
  background: #011213;
  overflow: hidden;

  .locale-hover-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

  .blur {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("/images/ui/signin/01.jpg");
    background-size: cover;
    filter: blur(50px);
  }

  .app-responsive {
    width: 100vw;
    max-width: 1200px;
  }

  .app-wrapper {
    position: relative;
    background-image: url("/images/ui/signin/03.png");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);

    .app-info {
      padding-right: 440px;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50%;

      .q-btn {
        padding: 10px 16px;
        min-width: 160px;
        font-size: 16px;
      }
    }
  }

  .signin-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    background: #ffffff;
    padding-top: 40px;
    border-radius: 0 10px 10px 0;
  }

}

.mobile {
  .page-signin {
    .app-responsive {
      width: 100vw;
      height: 100vh;
    }
    .app-wrapper {
      width: 100vw;
      height: 100vh;
      max-height: unset;
    }

    .app {
      width: 100%;
      padding: 100px 14px;

      .app-title {
        justify-content: center;
        width: 100%;
        font-size: 20px;
        text-align: center;

        .name {
          width: 100%;
          margin: 0!important;
          padding: 8px 0;
        }

        img {
          width: 100px;
          height: 100px;
        }
      }
    }

    .signin-wrapper {
      padding-top: 60px;
      min-width: 100vw;
      border-radius: 0;

      .app-info {
        text-align: center;
        .name {
          font-size: 16px;
        }
      }

      .signin-card {
        padding: 1rem!important;
      }
    }
  }
}
