// Electron css
// --------------------------------------------------
.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag !important;
}

.electron {
  &.platform-mac {
    .navi-tabbar {
      .navi-left.show {
        padding-left: 75px;
        padding-right: 8px;
      }
    }

    .o-reader-page {
      header.left-drawer-closed {
        padding-left: 65px;
      }
    }

    &.full-screen-page {
      .o-console-section .console-header .console-toolbar {
        padding-left: 75px !important;
      }
    }
  }

  &:not(.platform-mac) {
    .o-title-bar {
      display: flex !important;
    }
    .o-title-bar-overlay {
      display: flex !important;
    }
  }
}
