// Electron css
// --------------------------------------------------
.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag !important;
}

.electron {
  $trafficLightWidth: 75px;

  &.platform-mac {
    &.full-screen-page {
      .o-console-section .console-header .console-toolbar {
        padding-left: $trafficLightWidth !important;
      }
    }

    .top-header.expanded .quick-settings {
      &.group {
        margin-top: 36px;
      }
      &.tab {
        margin-left: 68px;
      }
    }

    .navi-tabbar {
      .navi-left.show, .navi-left.group {
        padding-left: $trafficLightWidth;
        padding-right: 8px;
      }
    }

    .o-reader-page {
      .reader-header.left-drawer-closed {
        padding-left: $trafficLightWidth !important;
        .top-toolbar {
          padding-left: $trafficLightWidth !important;
        }
      }
    }

    .o-side-dialog.full-screen {
      .q-toolbar {
        padding: 0 0 0 $trafficLightWidth !important;

        .actions {
          padding-right: 8px;
        }
      }
    }

    .full-page-layout {
      .top-navi {
        height: 100px;

        .q-toolbar, .o-toolbar-extra {
        }

        .q-toolbar {
          padding-top: 20px;
        }
      }

      .o-title-bar-overlay {
        position: fixed;
        top: 0;
        right: 0;
      }
    }
  }

  &:not(.platform-mac) {
    &.full-screen-page {
      .o-console-section .console-header .console-toolbar {
        padding-left: 10px !important;
      }
    }

    .right-drawer .side-bar .o-scroll-wrapper {
      top: 68px !important;
    }

    .o-title-bar {
      display: flex !important;
    }
    .o-title-bar-overlay {
      display: flex !important;
    }
    .reader-side-panel {
      .side-fixed {
        top: 28px !important;
      }
    }

    .full-page-layout {
      .top-navi {
        height: 50px;

        .q-toolbar {
          min-height: unset;
          padding: 0 0 0 20px;
        }
      }
      .o-title-bar-overlay {
        margin-top: -10px;
        padding-left: 10px;
      }
    }
  }


}
