// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #ffffff;
$accent    : #f5f5f5;

$fade       : #90a4ae;
$light      : #cfd8dc;
$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


// $item-active-color = #ccc
$item-base-color          : $fade;
//$tooltip-background = $dark

// Common
// --------------------------------------------------
$backdrop-opacity         : 0.1;

// Layout
// --------------------------------------------------
$layout-aside-left-width  : 240px;
$layout-page-header       : 50px;

// Modal
// --------------------------------------------------
$modal-border-radius : 6px;

$space-base : 14px;
$hheight    : 40px;
$fheight    : 30px;
